@using Shared.Dtos
@code {
    [Parameter]
    public List<LoginEntryDTO> Entries { get; set; }
    [Parameter]
    public string Category { get; set; }
}

<div class="loginEntry-section">
    @Category
</div>
<table class="loginEntry-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Website</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LoginEntryDTO loginEntry in Entries) {
            <tr>
                <th>@loginEntry.entryName</th>
                <th><a href="@loginEntry.entryAddress" target="_blank" rel="noopener norefferer">@loginEntry.entryAddress</a></th>
                <th>@loginEntry.entryUsername</th>
                <th>@loginEntry.entryPassword</th>
            </tr>
        }
    </tbody>
</table>
