@using Shared.Dtos
@code {
    [Parameter] 
    public List<LoginEntryDTO> Entries { get; set; } = new();
    
    [Parameter]
    public string Category { get; set; }
    
    // For selecting entry to edit
    [Parameter]
    public EventCallback<LoginEntryDTO> OnEntrySingleClicked { get; set; }
    [Parameter]
    public EventCallback<LoginEntryDTO> OnEntryDoubleClicked { get; set; }
    
    private LoginEntryDTO? selectedEntry;
    private bool singleClickHandled;
    private System.Timers.Timer clickTimer;
    private bool _fullyLoaded = false;
    private string _loadingMsg { get; set; } = String.Empty;
    
    public LoginEntryListViewModule()
    {
        // Indstil timeren til forsinkelse (200 ms)
        clickTimer = new System.Timers.Timer(200);
        clickTimer.Elapsed += (sender, e) =>
        {
            clickTimer.Stop();
            if (singleClickHandled)
            {
                InvokeAsync(() => OnEntrySingleClicked.InvokeAsync(selectedEntry));
                singleClickHandled = false;
            }
        };
    }
    
    protected override void OnParametersSet() {
        StateHasChanged();
    }

    private void HandleClick(LoginEntryDTO entry)
    {
        selectedEntry = entry;
        singleClickHandled = true;
        clickTimer.Start();
    }
    
    private void ClearSelection()
    {
        selectedEntry = null;
    }

    private void HandleDoubleClick(LoginEntryDTO entry)
    {
        clickTimer.Stop();
        singleClickHandled = false;
        OnEntryDoubleClicked.InvokeAsync(entry);
    }

    private void UpdateLoadingMsg(string msg) {
        _loadingMsg = msg;
    }
}
<div class="w-100" style="max-height:70vh; overflow-y: scroll;">
    <div class="loginEntry-section">
        Category: @Category
    </div>

    <table class="loginEntry-table table table-striped table-hover any" @onclick="ClearSelection">
        <thead>
            <tr class="small">
                <th scope="col">Name</th>
                <th scope="col">Website</th>
                <th scope="col">Username</th>
                <th scope="col"> Password</th>
            </tr>
        </thead>
        @if (!_fullyLoaded) {
            UpdateLoadingMsg("Loading entries...");
        }
        <tbody class="table-group-divider" @onclick:stopPropagation>
        @foreach (LoginEntryDTO loginEntry in Entries) {
            <tr role="button" @onclick="() => HandleClick(loginEntry)"
                @ondblclick="() => HandleDoubleClick(loginEntry)"
                class="@(selectedEntry == loginEntry ? "active-row" : "")">
                <td class="loginEntry-table">@loginEntry.EntryName</td>
                <td><a href="@loginEntry.EntryAddress" target="_blank" rel="noopener norefferer">@loginEntry.EntryAddress</a></td>
                <td class="loginEntry-table">@loginEntry.EntryUsername</td>
                <td class="loginEntry-table">@loginEntry.EntryPassword</td>
            </tr>
            _fullyLoaded = true;
        }
        @if (Entries.Count == 0) {
            UpdateLoadingMsg("No Login Entries Found...");
        } else {
            UpdateLoadingMsg(String.Empty);
        }
        </tbody>
        <p>@_loadingMsg</p>
    </table>
</div>